<!DOCTYPE html>
<html>
<body>

<h2>Il mio Form</h2>

<form action="/form" method="post">
  <label for="nick">Nickname:</label><br>
  <input type="text" id="nick" name="nick"><br>
  <label for="country">From?:</label><br>
  <input type="text" id="country" name="country"><br>
  <label for="age">Age?:</label><br>
  <input type="text" id="age" name="age"><br>
  <label for="topic1">Topic 1:</label><br>
  <input type="text" id="topic1" name="topic1"><br>
  <label for="topic2">Topic 2:</label><br>
  <input type="text" id="topic2" name="topic2"><br>
  <input type="submit" value="Invia">
</form>

</body>
</html>
