<html>
    <head></head>
    <script>
        function showtsags(){
            const params = new URLSearchParams(document.location.search);
            const tag = params.get('tag');
            const path = params.get('path');

            return [tag, path]
        }
        function myclick(){
            const [tag, path] = showtsags()
            const mood = event.target.parentElement.getAttribute("mood");
            const new_path = path.concat(',', tag);

            var url = new URL(window.location.href);
            url.searchParams.set('tag', mood);
            url.searchParams.set('path', new_path);
            window.location.href = url;
        }
    </script>

    <body>
        <p mood="dark">
            <button onclick="myclick()">Dark</button>
            <div class="params">Here are these page's tags</div>
            <script>
                const me = document.currentScript
                const old = me.previousElementSibling.innerHTML;
                const [tag, path] = showtsags();
                const updated = old.concat('<br>tag is ', tag, '<br>And path is ', path)
                me.previousElementSibling.innerHTML = updated
            </script>
        </p>

</body>
</html>