<!DOCTYPE html>
<html>
<head>
    <style>
table {
  width: 40%;
  height: 200px;
}
td {
  width: 50%;
  height: 50%;
  border: 1px solid black;
  text-align: center;
  vertical-align: middle;
}
</style>
</head>
<body>

<h1>MUSE BOARD</h1>

<form method="POST">
    <input type="submit" name="argomento" value="{{data[0][1]}}">
    <input type="submit" name="argomento" value="{{data[-1][1]}}">
    <input type="submit" name="argomento" value="{{data[1][1]}}">
    <input type="submit" name="argomento" value="{{data[-2][1]}}">
</form>

<h2>MUSE BOARD</h2>


<table>
  <tr>
    <td>{{data[3][1]}}<br><img src="{{data[3][2]}}" alt="Immagine 1"></td>
    <td>{{data[-3][1]}}<br><img src="{{data[-3][2]}}" alt="Immagine 2"></td>
  </tr>
  <tr>
    <td>{{data[4][1]}}<br><img src="{{data[4][2]}}" alt="Immagine 3"></td>
    <td>{{data[-4][1]}}<br><img src="{{data[-4][2]}}" alt="Immagine 4"></td>
  </tr>
</table>

</body>
</html>