<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link rel="stylesheet" href="../static/style_form.css">
</head>
<body>
<div class="login-box">
  <h2>MUSE BOARD</h2>
  <form action="/form" method="post">
    <div class="user-box">
      <input type="text" name="user" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="text" name="country" required="">
      <label>Where are you from?</label>
    </div>
  <div class="user-box">
  <input type="text" name="topic1" required="">
  <label>Insert first Topic</label>
    </div>
      <div class="user-box">
      <input type="text" name="topic2" required="">
      <label>Insert another Topic</label>
    </div>
    <button type="submit">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  Submit
      </button>
    <button type="submit">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <a href="/home">skip</a>
      </button>
  </form>
</div>
</body>
</html>

